 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');
 
 *{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: poppins, sans-serif;
 }
 
 body{
   background-color: tan;
 }
 
 
 header{
   padding: 30px;
 }
.container{
  text-align: center;
}

.instrucciones{
  font-weight: bold;
}


header{
  background-color: teal;
  color: white;
}

.marcador{
  border: solid 1px;
  width: 200px;
  margin: 20px auto;
  background-color: purple;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}


button{
  padding: 10px;
  font-size: 30px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}

#piedra{
  color: brown;
}
#papel{
  color: orange;
}

#tijera{
  color: darkcyan;
}

#piedra:hover{
  border: solid 2px brown;
}

#papel:hover{
  border: solid 2px orange;
}

#tijera:hover{
  border: solid 2px darkcyan;
}

.boton_reiniciar{
  background-color: violet;
  width: 200px;
  margin: 10px auto;
  padding: 4px 6px;
  border-radius: 10px;
  cursor: pointer;
  transition: 
 0.4s;
 display: none;
 margin-top: 15px;
}

.boton_reiniciar:hover{
  padding: 6px 8px;
}


.Eleccion{
  margin-top: 20px;
  display: none;
}

#eleccion_jugador{
 
  padding: 2px 7px;
  background-color: olive;
  font-weight: bold;
  border-radius: 10px;
}


#eleccion_pc{
  
  padding: 2px 7px;
  background-color: olive;
  font-weight: bold;
  border-radius: 10px;
}

.mensajeWin{
  margin-top: 10px;
}

